/*available fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 70px;
}

.headerText {
    padding: 3% 5%;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ddcf4+0,0fb4e7+100 */
    background: #8ddcf4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8ddcf4 0%, #0fb4e7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8ddcf4 0%, #0fb4e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8ddcf4 0%, #0fb4e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8ddcf4', endColorstr='#0fb4e7', GradientType=0);
    /* IE6-9 */
}

.headerText h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

.row {
    text-align: center;
}

#about-text {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

.about-icon {
    width: 100%;
    max-width: 100px;
}

.footer-area {
    padding-top: 10px;
    padding-bottom: 30px;
    color: black;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100 */
    background: #ffffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 47%, #ededed 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

.modal-body img {
    margin: 0 auto;
}

.thumbnail:hover {
    border: 5px solid steelblue;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #8ddcf4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #8ddcf4 0%, #0fb4e7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #8ddcf4 0%, #0fb4e7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #8ddcf4 0%, #0fb4e7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#8ddcf4', endColorstr='#0fb4e7', GradientType=0);
    /* IE6-9 */
}


/*media queries to make contents responsive based on view port size*/

@media screen and (max-width: 800px) {
    .headerText h1 {
        font-size: 4vw;
    }
    .headerText p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1500px) {
    .headerText h1 {
        font-size: 4vw;
    }
    .headerText p {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1501px) {
    .headerText h1 {
        font-size: 2.4vw;
    }
    .headerText p {
        font-size: 2vw;
    }
}